/*
azul: #77A1D3
verde aqua: #79CBCA
rosa: #E684AE
rosa fuente: #d500f9
*/
html{
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: none;
    color: #d500f9;
}

img{
    max-width: 100%;
}
a:hover{
    opacity: 0.6;
}

a:focus{
    background-color: turquoise;
}
.title{
    text-transform: capitalize;
    text-align: center;
}

.paragraph{
    line-height: 1.8em;
    font-weight: 200;
}
.table{
    width: 100%;
    border-spacing: 0;
}
.table td, .table th{
padding: 1em;
text-align: center;
}

.table tr:nth-child(even){ background-color: #f3e5f5;}

.fa-star, .fa-star-o, .fa-star-half-alt{
    color: #ffc400;
}

.title-item{
    /*
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #C6426E;
    */
    font-size: 2em;
    border-bottom: solid 2px #C6426E;
    padding-bottom:  1em;
    /*
    padding-top: 2px;
    padding: arriba derecha abajo izquierda;
    padding: arriba/abajo derecha/izquierda;
    */
}

.position{
    background-color: #79CBCA;
    color: white;
    /*padding: 1em 2em 3em 4em;*/
    padding: 0.5em;
    border-radius: 4px;
    /*
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    */
    margin-right: 0.5em;
    
}
.container{ 
    background: #77a1d3; 
    background: -webkit-linear-gradient(to right, #77a1d3, #79cbca, #e684ae); 
    background: linear-gradient(to right, #77a1d3, #79cbca, #e684ae);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.content{
    max-width: 960px;
    max-height: 520px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    /*box-shadow: diferenciadorHorizontal diferenciadorVertical desenfoque amplitud color;*/
    /*box-shadow: 0 3px 6px #000;*/
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    position: relative;
    overflow: scroll;
    /*
    overflow-y: scroll;
    overflow-x: hidden;
    */
}
.content{
    padding: 1em;
}
td{
    display: block;
    width: 100%;
}
td:nth-of-type(1){
    font-size: 1.5em;
    font-weight: bold;
    color: #79CBCA;
}
th{
    display: none;
}
.actions{
    position: absolute;
    top: 1em;
    right: 1em;
}

.close{
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    background-color: #E684AE;
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.address{
    font-weight: bold;
    color: #79CBCA;
    font-size: 1.2em;
    margin-top: 2em;
    display: inline-block;
}

.main-image{
    float: left;
    margin-right: 1em;
    height: 250px;
}
/*
td{
    border:solid 1px;
}
*/
@media(min-width:900px){
    th{
        display: table-cell;
    }
    td{
        width: auto;
        display: table-cell;
    }
    td:nth-of-type(1){
        font-size: 1em;
    }
    .content{
        padding: 1.8;
    }  
}


@media(min-heigth:550px){
    .content{
        height: 550px;
    }
}